<div class="container">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="row g-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Discount cards :</label>
<select name="" id="" class="form-control">
    <option value="HDFC Card">HDFC Card </option>
    <option value="Citi Bank Card">Citi Bank Card</option>
    <option value="ICICI Card">ICICI Card</option>
    <option value="SBI Card">SBI Card</option>
</select>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Address :</label>
<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>


<label for="" class="form-label">Payment </label>

                </div>
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

<select name="" id="" class="form-control">
    <option value="Debit ">Debit </option>
    <option value="Credit ">Credit</option>
    <option value="Prepaid">Prepaid</option>
    <option value="Electronic">Electronic</option>
</select>

                </div>
                
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

<button class="btn btn-success">Pay </button>
                </div>
            </div>
        </div>
    </div>
</div>